################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Renamer/bin
/Renamer/obj
/.vs
